@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}


.contact-us-image, .about-image {
  max-width: 550px;
  width: 550px;
}

.common-form-inputs {
  max-width: 500px;
  width: 400px;
}
.common-form-inputs > label {
  color: white;
}


